@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --main-color: #16938436; */
  --main-color: #169384;
  /* --main-color: #20b4a3; */
  /* --main-color:#103371 */
}

.tint-color{
  color: #f69200;
}

.main-bg {
  background-color: var(--main-color);
}

.main-color {
  color: var(--main-color);
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.active{
  color: var(--main-color);
  font-weight: 700;
}
@media only screen and (min-width: 1360px) {
  .container {
    max-width: 1360px;
  }
}
.text-border{
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(201, 201, 201);
}


.mySwiper {
  /* height: 30%; */
  box-sizing: border-box;
  padding: 10px 0;
  z-index: 9999;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  filter: brightness(50%);
  -webkit-filter: brightness(50%);
  cursor: pointer;
}

.mySwiper .swiper-slide-thumb-active {
  filter: brightness(100%);
  -webkit-filter: brightness(100%);
}